{% extends 'index.html.twig' %}

{% block title %}Edit Node{% endblock %}

{% block content %}
    <h1>Edit Node! #{{ node.id }}</h1>
    <hr>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">
            <i class="fa fa-floppy-o "></i> Save
        </button>
    {{ form_end(form) }}

    <hr>
    <a class="btn btn-primary btn-sm" href="{{ path('root') }}" role="button">
        <i class="fa fa-undo"></i> Back to Home
    </a>
    <hr>
{% endblock %}
